<table id="home-table">
  <tr>
      <td style="height:400px;">
          <div id="slideshow">
              <div class="slide-wrapper">
                  <div class="slide"><img src="image/image1.jpg" style="float:left;">
                      <p style="font-size:30px ;"><a href=""> Ba nhà khoa học giành giải Nobel Vật lý 2021</a></p>
                      <span>Viện Hàn lâm Khoa học Hoàng gia Thụy Điển xướng tên Syukuro Manabe, Klaus Hasselmann và
                          Giorgio Parisi lúc 11h45 ngày 5/10 (16h45 giờ Hà Nội) cùng nhận giải thưởng danh giá của năm
                          2021.</span>
                  </div>
                  <div class="slide"><img src="image/download.jpg" style="float:left;">
                      <p style="font-size:30px ;"><a href=""> Nhà văn Abdulrazak Gurnah, người Tanzania sống ở Anh,
                              đoạt giải Nobel văn chương 2021</a></p><span>TTO - Giải Nobel văn chương 2021 được nhiều
                          người trông đợi không chỉ bởi đây là giải thưởng danh giá nhất nhì hành tinh, mà còn vì lời
                          cam kết "đa dạng hóa" giải thưởng này của Viện Hàn lâm Thụy Điển.</span>
                  </div>
                  <div class="slide"><img src="image/download (1).jpg" style="float:left;">
                      <p style="font-size:30px ;"><a href="">Để lập mô hình vật lý về khí hậu Trái đất, định lượng sự
                              thay đổi và dự đoán một cách đáng tin cậy sự nóng lên toàn cầu</a></p><span>Ông đã tốt
                          nghiệp ngành Vật lý và Toán học tại Đại học Hamburg năm 1955 với luận văn tốt nghiệp về sự
                          Nhiễu loạn Đẳng hướng, lấy bằng Tiến sĩ tại Đại học Göttingen và Viện Max Planck về Động lực
                          học Chất lỏng năm 1957 rồi tiếp tục nghiên cứu từ 1964-1975 tại Đại học Hamburg.</span>
                  </div>
              </div>
          </div>
      </td>
      <td rowspan="4" class="td-link">
          <div class="div-link">
              <ul class="ul-link">
                  <li><a href="#!news">Phát minh khiến Alfred Nobel trở thành 'thương nhân của cái chết'</a></li>
                  <li><a href="#!news">Nhà thơ Nguyễn Quang Thiều: 'Không tiếc nuối dù lỡ đề cử Nobel'</a></li>
                  <li><a href="#!news">'Nhà khoa học điên' và mối thù với thời đại</a></li>
                  <li><a href="#!news">Nhà vật lý đoạt giải Nobel sắp đến Việt Nam</a></li>
                  <li><a href="#!news">Ba nhà khoa học giành Nobel Kinh tế 2021</a></li>
                  <li><a href="#!news">Trường Australia Scotch College AGS 100 tuổi ra mắt tại Việt Nam</a></li>
                  <li><a href="#!news">Ba nhà khoa học nhận giải Nobel Vật lý 2021</a></li>
                  <li><a href="#!news">Từ cậu bé thời chiến đến chủ nhân giải Nobel</a></li>
                  <li><a href="#!news">Con đường chông gai của vaccine mRNA</a></li>
              </ul>
          </div>
      </td>
  </tr>
  <tr>
      <td>
          <h2>VIDEOS</h2>
      </td>
  </tr>
  <tr>
      <td>
          <ul class="home-ul">
              <li>
                  <div class="div-img1">
                      <video controls="controls">
                          <source src="video/Mạc Ngôn nói về giải Nobel Văn học.mp4" type="video/mp4">
                      </video>
                  </div>
              </li>
              <li>
                  <div class="div-img1">
                      <video controls="controls">
                          <source src="video/Chuyện Gì Đã Xảy Ra Với Thần Đồng Có Chỉ Số IQ Cao Nhất Thế Giới-.mp4"
                              type="video/mp4">
                      </video>
                  </div>
              </li>
              <li>
                  <div class="div-img1">
                      <video controls="controls">
                          <source
                              src="video/George Washington - Cậu Bé Mồ Côi Cha Và Hành Trinh Trở Thành Tổng Thống Vĩ Đại Của Nước Mỹ.mp4"
                              type="video/mp4">
                      </video>
                  </div>
              </li>
          </ul>
      </td>
  </tr>

</table>
