<router-outlet></router-outlet>
<div id="div-header">
  <header>
      <ul>
          <li><img src="image/LOGO1.jpg" alt=""></li>
          <li>
              <h1>THE NOBEL PRIZE</h1>
          </li>
      </ul>
  </header>
</div>

<nav id="nav-container">
  <ul id="index-menu">
      <li><a href="#!">HOME</a></li>
      <li><a href="#!prize">PRIZE</a></li>
      <li><a href="#!alfrednobel">ALFRED NOBEL</a></li>
      <li><a href="#!event">EVENT</a></li>
      <li><a href="#!news">NEWS</a></li>
  </ul>
</nav>
<app-home></app-home>
<footer>
  <div class="div-footer1">
      <a href="#!about">About US</a> <a href="#!faq">FAQ</a> <a href="">Contact:</a>
  </div>
  <div class="div-footer2">
      <ul>
          <li><i class="material-icons">pin_drop</i>590 Cach Mang Thang 8 ,ward 11, district 3, Ho Chi Minh
              city,Vietnam <i class="fa-solid fa-location-dot"></i></li>
          <li><i class="material-icons">local_phone</i>+84 22030 3507</li>
          <li><i class="material-icons">local_post_office</i>nobelprize.org@gmail.com</li>
      </ul>
  </div>
</footer>
